.classroom-label {

    -fx-border-style: solid inside;
    -fx-border-width: 0 0 3 3;
    -fx-border-color: black;
    -fx-pref-height: 42;
    -fx-pref-width: 200;
}

.add-button {

    -fx-font-size: 18px;
}

.main {

    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 3;
}

GridPane {

    -fx-border-style: solid inside;
    -fx-border-width: 3 1 0 1;
    -fx-border-color: black;
}

Button {

    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-insets: -1;
    -fx-text-fill: black;
    -fx-border-width: 2;
    -fx-pref-height: 30;
}
Button:hover {

    -fx-background-color: black;
    -fx-text-fill: white;
}

Pane {

    -fx-border-style: dashed inside;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: grey;
    -fx-pref-height: 20;
}

VBox {

    -fx-border-style: solid inside;
    -fx-border-width: 3 3 0 0;
    -fx-border-color: black;
    -fx-pref-height: 75;
    -fx-min-width: 40;
}
