Gridpane, Canvas, VBox, .createMenu-button, .classroom-label, .button-column, .column, .button, .main, .row {

    -fx-border-width: 3;
    -fx-border-insets: -1;
    -fx-border-color: black;
}

ComboBox, TextField {

    -fx-pref-width: 174;
}

Pane {

    -fx-border-style: dashed inside;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: grey;
    -fx-pref-height: 20;
}

HBox {

    -fx-padding: 3;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: black;
}

VBox {

    -fx-pref-height: 75;
    -fx-min-width: 40;
}

.createMenu-reset, .createMenu-apply {

    -fx-pref-width: 165 !important;
    /*-fx-border-insets: -2;*/
}

.button-column, .column, .row {

    -fx-padding: 3;
}

.borderless-bottom {

    -fx-border-insets: 0 0 -2 0 !important;
    -fx-border-width: 0 0 5 0 !important;
}

.createMenu-reset {

    /*-fx-border-width: 0 4 2 0;*/
}

.createMenu-apply {

    /*-fx-border-width: 0 0 2 4;*/
}

.item-button-box {

    -fx-border-insets: -1 -1 -1 -1;
}

.classroom-label {

    -fx-pref-height: 43;
    -fx-pref-width: 200;
}

.schedule-button {

    -fx-border-insets: -1 -1 -3 -1 !important;
    -fx-pref-width: 150;
}

.button-column {

    -fx-pref-width: 100;
}

.time-comboBox {

    -fx-pref-width: 87 !important;
}

.table-button {

    -fx-pref-width: 50 !important;
}

.paddingless {

    -fx-padding: 0 !important;
}

.base-button {

    -fx-border-insets: -1 -1 -3 -1 !important;
    -fx-pref-width: 100;
}

.item-button {

    -fx-pref-width: 94;
    -fx-border-width: 2;
}

.item-label {

    -fx-padding: 5;
    -fx-pref-width: 150;
}

.createMenu {

    -fx-border-width: 3 3 0 3;
    -fx-border-insets: -1 -1 -3 -1;
}

.borderless {

    -fx-border-width: 0 !important;
}

.add-button {

    -fx-border-width: 4 3 3 3;
    -fx-font-size: 18px !important;
}

.button-box {

    -fx-padding: -1;
    -fx-border-insets: -1;
    -fx-border-width: 0;
}

.button {

    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-pref-height: 30;
    -fx-font-size: 10px;
}
.button:hover {

    -fx-background-color: black;
    -fx-text-fill: white;
}

.column {

    -fx-pref-width: 125;
}

.error {

    -fx-padding: 5 5;
    -fx-text-fill: darkred;
}

.main {

    -fx-border-insets: 3;
}

.row {

    -fx-pref-width: 125;
    -fx-pref-height: 30;
}